[submodule "May-I-Dance-Index"]
	path = May-I-Dance-Index
	url = git@github.com:LyricZhao/May-I-Dance-Index.git
[submodule "Aliyun-OSS-Cloud"]
	path = Aliyun-OSS-Cloud
	url = git@github.com:LyricZhao/Aliyun-OSS-Cloud.git
